<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{
            background: rgb(241,255,95);
            background: linear-gradient(196deg, rgba(241,255,95,1) 0%, rgba(239,236,198,1) 32%, rgba(255,255,255,1) 78%);
            width: 100vw;
            min-height: 100vh;
           
         }

    </style>
</head>
<body>
    <div class="parent">
      
    </div>

</body>

</html>